body {
    
    background-color: #2F343A;
    
    .tittle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FBC34B;
}

.didyouknow{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FBC34B;
    font: 200;
    .paragraph{

    }
}

}