.page-icons {
    display: flex;
    justify-content: space-evenly;
    background-color: #717579;
    
    


    button {
        background-color: transparent;
        border: transparent;

        img {
            width: 100px;
            height: 100px;

        }

        .piano-size {
            width: 120px;
            height: 100px
        }

        .panflute-size {
            width: 200px;
            height: 120px;

        }

    }
}