@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jolly+Lodger&family=Manrope:wght@200..800&display=swap');

body {
    background-color: rgb(52, 52, 52);
}
article {
    background-color: #932C2C;
    margin: 13.2%;
    margin-top: 4%;
    border-radius: 24px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Jersey 10";
    font-weight: 400;
    font-size: 60px;
    color: #FBC34B;
}
p {
    font-size: 30px;
    font-family: "Jolly Lodger";
    padding-bottom: 30px;
    color: white
}
img {
    width: 56%;
}